*{box-sizing: border-box;}
body,html{margin:0px;padding:0px; font-family: 'Raleway', sans-serif; font-weight: 400;scroll-behavior: smooth;}
a, a:visited, a:active {color: #000;}
.nav{background-color: #fff;text-align: center;padding: 5px 30px;position: fixed;width: 100%;z-index: 5;}
.nav .lnkimg{float: left;padding: 5px 12px;}
.nav .lnk{padding: 30px 0;}
.nav .lnk a{text-decoration: none;font-family: 'Open Sans', sans-serif; font-weight: 600;padding: 0px 12px;color: #777;font-size: 1.3em;}


h1,h2,h3,h4{font-family: 'Lato', sans-serif;font-weight: 900;}
.hero{background: url(hero2.jpg) no-repeat; height:850px;background-size: cover;color: #fff;background-position: bottom;}
.contain{padding: 70px 250px;}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.col{
  float: left;  
}
.abt2{width: 30%;overflow: hidden;}
.abt{width: 70%;overflow: hidden;padding: 35px 50px;}
.abt h1{font-size: 2.5em;}
.abt p{letter-spacing: 1px;font-size: 1.2em;color: #777;}
.overlay{position: relative;width: 100%;height: 100%;background-color: rgba(0,0,0,0.6);display: block;}
.herotxt{position: absolute;top: 40%;transform: translateY(-50%);width: 100%;}
.herotxt h1{font-size: 3em;}
.serv{width: 50%;height: 355px;padding: 15px;text-align: center;}
.servcon{width: 100%;height: 100%;background-color: #fff;padding: 25px;box-shadow: 2px 2px 5px rgba(0,0,0,0.7);}
.servtxt{width: 100%;height: 100%;border: 1px solid #ccc;padding: 15px 10px;font-size: .9em;}
.servtxt p{letter-spacing: 1px;color: #777;}
.prom h1{font-size: 2.5em;}
.prom p{letter-spacing: 1px;font-size: 1.2em;color: #777;}
.team{color: #fff}
.team h1{font-size: 2.5em;}
.team p{letter-spacing: 1px;font-size: 1.2em;color: #fff;}
.teamtxt{width: 60%; padding: 20px;}
.teamimg{width: 40%;text-align: center}
.contact .col{width: 50%;}
.confrm{padding: 0 20px;}
input[type=text], input[type=email]{width: 100%;padding: 12px 12px;font-size: 1.2em;color: #777;margin:0 0 25px 0;font-family: 'Raleway', sans-serif; font-weight: 300;border: none;border: 1px solid #ccc;border-left: 2px solid darkblue;}
textarea{width: 100%;padding: 12px 12px;font-size: 1.2em;color: #777;margin: 0 0 25px 0;font-family: 'Raleway', sans-serif; font-weight: 300;border: none;border: 1px solid #ccc;border-left: 2px solid darkblue;resize: none;}
input[type=text]:focus, input[type=email]:focus, textarea:focus{outline: none;}
.confrm button{background-color: transparent;border: 1px solid #ccc;border-radius: 5px;padding: 10px 20px;font-size: 1.2em;font-weight: 400;font-family: 'Raleway', sans-serif;float: right;cursor: pointer;}
.contxt{overflow: hidden;padding: 0 20px;font-size: 1em;color: #777;margin: 5px 0;font-family: 'Raleway', sans-serif; font-weight: 300;}
.contxt i{padding: 0 20px;}
.contain2{padding: 30px 60px;border-top: 2px solid #ccc;position: relative;font-size: 1.2em;letter-spacing: 1px;font-weight: bold;}
.footer{text-align: center;}
.btt{height: 50px;width: 50px;border: 2px solid #ccc;border-radius: 50%;text-align: center;position: fixed;bottom: 10px;right: 10px;padding: 2px;z-index: 2;display: none;background-color: #fff;}
.btt i{font-size: 2.2em;color: #777;}
.slink i{padding: 0 10px;font-size: 1.5em;}
.slink i:hover{color: #FE0000;}
